In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
bus_look= pd.read_csv(r'/Users/daviddangol/Documents/monthly report/Bus Book Data/data/bus_look_data_full.csv')

In [3]:
display(bus_look.head())
display(bus_look.info())
display(bus_look.describe())

,user_id,membership_start_npt,membership_expiry_npt,operating_system,city,country
0,10055631,2024-09-28 14:28:35,2027-04-13 20:35:02,Android,Jabriya,Kuwait
1,10126335,2025-01-26 20:55:01,2027-04-24 00:15:00,Android,Ajman,United Arab Emirates
2,10132943,2025-04-20 14:32:52,2027-04-15 00:15:00,Android,London,United Kingdom
3,10156137,2024-09-17 10:57:28,2027-04-20 00:15:00,Android,Phnom Penh,Cambodia
4,10174874,2025-02-22 21:51:24,2027-04-18 00:15:00,Android,Abu Dhabi,United Arab Emirates

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1571882 entries, 0 to 1571881
Data columns (total 6 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   user_id                1571882 non-null  object
 1   membership_start_npt   1571882 non-null  object
 2   membership_expiry_npt  1571882 non-null  object
 3   operating_system       1571882 non-null  object
 4   city                   793669 non-null   object
 5   country                1571881 non-null  object
dtypes: object(6)
memory usage: 72.0+ MB

None

,user_id,membership_start_npt,membership_expiry_npt,operating_system,city,country
count,1571882,1571882,1571882,1571882,793669,1571881
unique,1571882,1499196,283949,2,4608,161
top,10055631,2025-06-18 00:15:00,2027-04-13 00:15:00,Android,Kathmandu,Nepal
freq,1,396,161678,1318179,504871,1368351

In [5]:

bus_look['membership_start_npt'] = pd.to_datetime(bus_look['membership_start_npt'])
bus_look_filtered = bus_look[bus_look['membership_start_npt'].dt.date > pd.to_datetime('2025-10-15').date()]
display(bus_look_filtered.head())

,user_id,membership_start_npt,membership_expiry_npt,operating_system,city,country
14,10458807,2025-10-21 07:25:02,2027-04-15 22:02:27,iOS,3978,Hungary
29,10780181,2025-10-17 06:45:06,2027-04-13 00:15:00,iOS,Attleboro,United States
54,11259598,2025-10-27 17:26:22,2027-04-21 00:15:00,Android,Haarlem,Netherlands
55,11288376,2025-10-26 17:57:52,2027-04-22 23:42:20,Android,Abu Dhabi,United Arab Emirates
58,11321910,2025-10-20 21:14:10,2027-04-15 00:15:00,Android,Semarang Utara,Indonesia

In [7]:
bus_look_filtered['membership_start_npt'] = pd.to_datetime(bus_look_filtered['membership_start_npt'])
bus_look_date_filtered = bus_look_filtered[(bus_look_filtered['membership_start_npt'] >= '2025-10-15') & (bus_look_filtered['membership_start_npt'] < '2025-11-01')]
display(bus_look_date_filtered.head())
display(bus_look_date_filtered.info())

,user_id,membership_start_npt,membership_expiry_npt,operating_system,city,country
14,10458807,2025-10-21 07:25:02,2027-04-15 22:02:27,iOS,3978,Hungary
29,10780181,2025-10-17 06:45:06,2027-04-13 00:15:00,iOS,Attleboro,United States
54,11259598,2025-10-27 17:26:22,2027-04-21 00:15:00,Android,Haarlem,Netherlands
55,11288376,2025-10-26 17:57:52,2027-04-22 23:42:20,Android,Abu Dhabi,United Arab Emirates
58,11321910,2025-10-20 21:14:10,2027-04-15 00:15:00,Android,Semarang Utara,Indonesia

<class 'pandas.core.frame.DataFrame'>
Index: 143742 entries, 14 to 1571874
Data columns (total 6 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   user_id                143742 non-null  object
 1   membership_start_npt   143742 non-null  datetime64[ns]
 2   membership_expiry_npt  143742 non-null  object
 3   operating_system       143742 non-null  object
 4   city                   69849 non-null   object
 5   country                143742 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 7.7+ MB

None

In [8]:
unique_user_count = bus_look_date_filtered['user_id'].nunique()
print(f"The number of unique users in the filtered data is: {unique_user_count}")

given_count = 17000
if abs(unique_user_count - given_count) < given_count * 0.1:
    print(f"The calculated unique user count ({unique_user_count}) is close to the given value ({given_count}).")
else:
    print(f"The calculated unique user count ({unique_user_count}) is significantly different from the given value ({given_count}).")

The number of unique users in the filtered data is: 143742
The calculated unique user count (143742) is significantly different from the given value (17000).

In [9]:
# 1. Analyze the distribution of operating systems
os_counts = bus_look_date_filtered['operating_system'].value_counts()
os_percentages = bus_look_date_filtered['operating_system'].value_counts(normalize=True) * 100
print("Operating System Distribution:")
display(os_counts)
display(os_percentages)

Operating System Distribution:

operating_system
Android    113312
iOS         30430
Name: count, dtype: int64

operating_system
Android    78.830126
iOS        21.169874
Name: proportion, dtype: float64

In [10]:

# 2. Analyze the distribution of countries
country_counts = bus_look_date_filtered['country'].value_counts()
country_percentages = bus_look_date_filtered['country'].value_counts(normalize=True) * 100
print("\nTop 10 Countries Distribution:")
display(country_counts.head(10))
display(country_percentages.head(10))

Top 10 Countries Distribution:

country
Nepal                   130882
Indonesia                 3287
France                    1578
India                     1503
Germany                   1385
Hungary                    900
Netherlands                766
United Arab Emirates       646
Qatar                      480
Saudi Arabia               353
Name: count, dtype: int64

country
Nepal                   91.053415
Indonesia                2.286736
France                   1.097800
India                    1.045623
Germany                  0.963532
Hungary                  0.626122
Netherlands              0.532899
United Arab Emirates     0.449416
Qatar                    0.333932
Saudi Arabia             0.245579
Name: proportion, dtype: float64

In [11]:
# 3. Analyze the distribution of cities
city_counts = bus_look_date_filtered['city'].value_counts()
city_percentages = bus_look_date_filtered['city'].value_counts(normalize=True) * 100
print("\nTop 10 Cities Distribution:")
display(city_counts.head(10))
display(city_percentages.head(10))

Top 10 Cities Distribution:

city
Kathmandu              48987
Lalitpur                5080
Biratnagar              3203
60360                   1282
58163                   1244
Sabu Raijua Regency      939
3974                     801
85617                    608
5851                     519
Doha                     416
Name: count, dtype: int64

city
Kathmandu              70.132715
Lalitpur                7.272831
Biratnagar              4.585606
60360                   1.835388
58163                   1.780985
Sabu Raijua Regency     1.344328
3974                    1.146759
85617                   0.870449
5851                    0.743031
Doha                    0.595570
Name: proportion, dtype: float64

In [12]:

# 4. Analyze the distribution of the day of the week for membership_start_npt
bus_look_date_filtered['start_dayofweek'] = bus_look_date_filtered['membership_start_npt'].dt.day_name()
dayofweek_counts = bus_look_date_filtered['start_dayofweek'].value_counts()
dayofweek_percentages = bus_look_date_filtered['start_dayofweek'].value_counts(normalize=True) * 100
print("\nMembership Start Day of the Week Distribution:")
display(dayofweek_counts)
display(dayofweek_percentages)

Membership Start Day of the Week Distribution:

start_dayofweek
Friday       27712
Thursday     22272
Sunday       20069
Saturday     19642
Monday       18306
Tuesday      18002
Wednesday    17739
Name: count, dtype: int64

start_dayofweek
Friday       19.278986
Thursday     15.494428
Sunday       13.961820
Saturday     13.664760
Monday       12.735317
Tuesday      12.523827
Wednesday    12.340861
Name: proportion, dtype: float64

In [13]:

# 5. Analyze the distribution of the hour of the day for membership_start_npt
bus_look_date_filtered['start_hour'] = bus_look_date_filtered['membership_start_npt'].dt.hour
hour_counts = bus_look_date_filtered['start_hour'].value_counts().sort_index()
hour_percentages = bus_look_date_filtered['start_hour'].value_counts(normalize=True).sort_index() * 100
print("\nMembership Start Hour of the Day Distribution:")
display(hour_counts)
display(hour_percentages)

Membership Start Hour of the Day Distribution:

start_hour
0      1394
1       802
2       599
3       433
4       541
5       981
6      2407
7      4549
8      6736
9      8015
10     8912
11     9568
12     9403
13     9292
14     9450
15     9303
16     9087
17     9771
18    10842
19    10181
20     8686
21     6355
22     4053
23     2382
Name: count, dtype: int64

start_hour
0     0.969793
1     0.557944
2     0.416719
3     0.301234
4     0.376369
5     0.682473
6     1.674528
7     3.164698
8     4.686174
9     5.575962
10    6.199997
11    6.656370
12    6.541581
13    6.464360
14    6.574279
15    6.472012
16    6.321743
17    6.797596
18    7.542681
19    7.082829
20    6.042771
21    4.421116
22    2.819635
23    1.657136
Name: proportion, dtype: float64