In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
Ga_df = pd.read_csv(r'/Users/daviddangol/Documents/monthly report/domestic airlines/data/GA4 report .csv')

In [3]:
Ga_df.columns

Index(['Unnamed: 0', 'user_id', 'event_name', 'event_date', 'medium', 'source',
       'platform', 'version', 'navigated_from', 'destinationCity', 'tripType',
       'departureDate', 'departureCity', 'ga_session_number',
       'engaged_session_event', 'time', 'confirmed', 'Account_ID',
       'payment_date', 'diff_event_departure', 'next_payment_after_event',
       'diff_event_to_next_payment'],
      dtype='object')

In [4]:
Ga_df.head()

,Unnamed: 0,user_id,event_name,event_date,medium,source,platform,version,navigated_from,destinationCity,...,departureCity,ga_session_number,engaged_session_event,time,confirmed,Account_ID,payment_date,diff_event_departure,next_payment_after_event,diff_event_to_next_payment
0,0,7121494.0,domesticFlightDetail,2025-10-19,(none),(direct),ANDROID,4.6.1.0,MENU_ITEM,Biratnagar,...,Kathmandu,77.0,1.0,09:43:54,NaN,NaN,NaN,1.0,NaN,NaN
1,1,9179299.0,domesticFlightDetail,2025-10-19,(none),(direct),ANDROID,4.7.0.1,MENU_ITEM,Bhairahawa,...,Kathmandu,116.0,1.0,19:49:52,NaN,9179299.0,2025-10-24,5.0,2025-10-24,5.0
2,2,5313528.0,domesticFlightDetail,2025-10-19,(none),(direct),ANDROID,4.7.0.1,MENU_ITEM,Janakpur,...,Kathmandu,21.0,1.0,14:55:55,NaN,NaN,NaN,1.0,NaN,NaN
3,3,11509078.0,domesticFlightDetail,2025-11-01,NaN,NaN,ANDROID,4.7.0.1,MENU_ITEM,Dang,...,Kathmandu,1.0,1.0,23:55:06,NaN,NaN,NaN,1.0,NaN,NaN
4,4,3859929.0,domesticFlightDetail,2025-10-17,(none),(direct),ANDROID,4.7.0.1,MENU_ITEM,Bharatpur,...,Kathmandu,69.0,1.0,17:18:09,NaN,NaN,NaN,4.0,NaN,NaN

In [7]:
# User ID frequency with date wise and %
user_id_date_freq = Ga_df.groupby(['event_date', 'user_id']).size().reset_index(name='frequency')
user_id_date_freq['percentage'] = user_id_date_freq['frequency'] / user_id_date_freq.groupby('event_date')['frequency'].transform('sum') * 100
display(user_id_date_freq.head().nlargest(10, 'frequency'))

   event_date  user_id  frequency  percentage
0  2025-10-15   1322.0          1    0.003533
1  2025-10-15   1725.0          1    0.003533
2  2025-10-15   1813.0          1    0.003533
3  2025-10-15   2495.0          1    0.003533
4  2025-10-15   2684.0          1    0.003533

In [18]:
# User ID frequency count and %
user_id_freq = Ga_df['user_id'].value_counts().reset_index(name='count')
user_id_freq.columns = ['user_id', 'count']
user_id_freq['percentage'] = user_id_freq['count'] / len(Ga_df) * 100
display(user_id_freq.head().round(2))

     user_id  count  percentage
0   933541.0    330        0.06
1  2921544.0    165        0.03
2  4636397.0    137        0.03
3  1805581.0    130        0.02
4   790471.0    127        0.02

In [10]:
# User ID frequency count who have name in account_id as they made payment and %
paid_users = Ga_df[Ga_df['Account_ID'].notna()]
paid_user_freq = paid_users['user_id'].value_counts().reset_index(name='count')
paid_user_freq.columns = ['user_id', 'count']
paid_user_freq['percentage'] = paid_user_freq['count'] / len(paid_users) * 100
display(paid_user_freq.head().round(4))

     user_id  count  percentage
0  2921544.0    165      0.1179
1  4636397.0    137      0.0979
2   790471.0    127      0.0907
3   807668.0    108      0.0772
4   501452.0    107      0.0764

In [11]:
# Event date to when the next payment after event
event_payment_diff = Ga_df[['event_date', 'next_payment_after_event']].dropna()
event_payment_diff['event_date'] = pd.to_datetime(event_payment_diff['event_date'])
event_payment_diff['next_payment_after_event'] = pd.to_datetime(event_payment_diff['next_payment_after_event'])
event_payment_diff['days_to_next_payment'] = (event_payment_diff['next_payment_after_event'] - event_payment_diff['event_date']).dt.days
display(event_payment_diff.head())

   event_date next_payment_after_event  days_to_next_payment
1  2025-10-19               2025-10-24                     5
8  2025-10-16               2025-10-23                     7
13 2025-10-19               2025-10-19                     0
21 2025-10-20               2025-10-24                     4
24 2025-11-01               2025-11-03                     2

In [15]:
# Count of destination city and %
destination_city_freq = Ga_df['destinationCity'].value_counts().reset_index(name='count')
destination_city_freq.columns = ['destinationCity', 'count']
destination_city_freq['percentage'] = destination_city_freq['count'] / len(Ga_df) * 100
display(destination_city_freq.head().round(2))

  destinationCity   count  percentage
0       Kathmandu  280621       51.71
1      Biratnagar   31180        5.75
2         Pokhara   26220        4.83
3       Nepalgunj   24464        4.51
4      Bhairahawa   23222        4.28

In [14]:
# Departure city and % and count
departure_city_freq = Ga_df['departureCity'].value_counts().reset_index(name='count')
departure_city_freq.columns = ['departureCity', 'count']
departure_city_freq['percentage'] = departure_city_freq['count'] / len(Ga_df) * 100
display(departure_city_freq.head().round(2))

  departureCity   count  percentage
0     Kathmandu  210723       38.83
1    Biratnagar   53642        9.88
2     Nepalgunj   42918        7.91
3     Dhangadhi   39669        7.31
4    Bhairahawa   30475        5.62

In [16]:
# User ID count to event name
user_id_event_freq = Ga_df.groupby('event_name')['user_id'].nunique().reset_index(name='unique_user_count')
display(user_id_event_freq.head())

                      event_name  unique_user_count
0     domesticFlightConfirmation               6559
1           domesticFlightDetail             170839
2  domesticFlightPassengerDetail                 64
3           domesticFlightSearch              63260

In [20]:
# Analysis with user id and event date to time to payment date
user_event_payment_time_diff = Ga_df[['user_id', 'event_date', 'payment_date']].dropna()
user_event_payment_time_diff['event_date'] = pd.to_datetime(user_event_payment_time_diff['event_date'])
user_event_payment_time_diff['payment_date'] = pd.to_datetime(user_event_payment_time_diff['payment_date'], errors='coerce')
user_event_payment_time_diff['days_to_payment'] = (user_event_payment_time_diff['payment_date'] - user_event_payment_time_diff['event_date']).dt.days
display(user_event_payment_time_diff.sort_values(by='days_to_payment', ascending=False).head())

          user_id event_date payment_date  days_to_payment
542439  1623829.0 2025-10-15   2025-11-08             24.0
540944  2582299.0 2025-10-15   2025-11-08             24.0
509575   609250.0 2025-10-15   2025-11-08             24.0
511328   229747.0 2025-10-15   2025-11-08             24.0
374128  6913065.0 2025-10-15   2025-11-08             24.0