In [1]:

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [2]:
qfx_old = pd.read_csv('/Users/daviddangol/Downloads/movies_reconciliation_ashwin.csv')

In [3]:
qfx_old.columns

Index(['Txn Code', 'Product Name', 'Product Code', 'Date', 'Account ID',
       'Profile', 'Channel', 'Unique ID', 'Amount', 'Commission', 'Cashback',
       'Revenue', 'Final_Status'],
      dtype='object')

In [7]:
display(qfx_old.head())
display(qfx_old.info())

,Txn Code,Product Name,Product Code,Date,Account ID,Profile,Channel,Unique ID,Amount,Commission,Cashback,Revenue,Final_Status
0,14ORL4M,Bigmovies,bigmovies,2025-10-15T00:00,1280081,User,WEB,bigmovies:bk-RonUts,370.0,5.55,0.0,5.55,REVERTED
1,1464EV9,iNi Cinemas - Butwal,NP-ES-QBOX,2025-10-02T00:00,5256961,User,WEB,NP-ES-QBOX:bk-cB1VVm,1320.0,26.40,0.0,26.40,FULL_REFUND
2,141Y16V,Bishwojyoti Cineplex Pvt. Ltd,NP-ES-BISHWOJYOTI,2025-09-29T00:00,5848456,User,WEB,NP-ES-BISHWOJYOTI:bk-6AkLVp,700.0,10.00,0.0,10.00,FULL_REFUND
3,14LLQM6,Bigmovies,bigmovies,2025-10-13T00:00,764743,User,WEB,bigmovies:bk-ba8iJT,1800.0,27.00,0.0,27.00,REVERTED
4,14GK6VA,Bigmovies,bigmovies,2025-10-10T00:00,6301233,User,WEB,bigmovies:bk-2CY8cF,555.0,8.32,0.0,8.32,REVERTED

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22746 entries, 0 to 22745
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Txn Code      22746 non-null  object
 1   Product Name  22746 non-null  object
 2   Product Code  22746 non-null  object
 3   Date          22746 non-null  object
 4   Account ID    22746 non-null  int64
 5   Profile       22746 non-null  object
 6   Channel       22746 non-null  object
 7   Unique ID     22746 non-null  object
 8   Amount        22746 non-null  float64
 9   Commission    22746 non-null  float64
 10  Cashback      22746 non-null  float64
 11  Revenue       22746 non-null  float64
 12  Final_Status  22746 non-null  object
dtypes: float64(4), int64(1), object(8)
memory usage: 2.3+ MB

None

In [12]:
min_date = qfx_old['Date'].min()
max_date = qfx_old['Date'].max()

In [13]:
print(f"Minimum Transaction Date (QFX Clients): {min_date}")
print(f"Maximum Transaction Date (QFX Clients): {max_date}")

Minimum Transaction Date (QFX Clients): 2025-09-17T00:00
Maximum Transaction Date (QFX Clients): 2025-10-17T00:00

In [17]:
# Separate analysis for 'Product Code'
product_code_analysis = qfx_old.groupby('Product Code').size().reset_index(name='Count')
product_code_analysis['Frequency'] = product_code_analysis['Count']
total_product_codes = product_code_analysis['Count'].sum()
product_code_analysis['Percentage'] = (product_code_analysis['Count'] / total_product_codes) * 100

# Sort by percentage in descending order for product code analysis
product_code_analysis = product_code_analysis.sort_values(by='Percentage', ascending=False)

print("\nAnalysis by Product Code:")
display(product_code_analysis.round(2))

Analysis by Product Code:

         Product Code  Count  Frequency  Percentage
14          bigmovies   7587       7587       33.36
15     eSewa_CentralM   2642       2642       11.62
7          NP-ES-QBOX   2430       2430       10.68
3           NP-ES-FDM   1755       1755        7.72
16   eSewa_CityCinema   1391       1391        6.12
9        NP-ES-SCREEN   1087       1087        4.78
8       NP-ES-RANJANA   1055       1055        4.64
2     NP-ES-CKCINEMAS    941        941        4.14
6         NP-ES-PIXEL    874        874        3.84
12         NP-ES-STSE    743        743        3.27
4         NP-ES-LOTSE    614        614        2.70
13          NP-ES-VFX    462        462        2.03
5     NP-ES-OASISCINE    406        406        1.78
1   NP-ES-BISHWOJYOTI    293        293        1.29
11     NP-ES-SIMARABC    216        216        0.95
0        NP-ES-BAMELC    208        208        0.91
17      esewa_dwarika     40         40        0.18
10    NP-ES-SHREERAMP      2          2        0.01

In [18]:
product_profile_analysis = qfx_old.groupby(['Product Code', 'Profile']).size().reset_index(name='Count')

# Filter for 'User' profile and sort by count in descending order
user_profile_analysis = product_profile_analysis[product_profile_analysis['Profile'] == 'User'].sort_values(by='Count', ascending=False)

print("Analysis for User Profiles:")
display(user_profile_analysis)

Analysis for User Profiles:

         Product Code Profile  Count
28          bigmovies    User   7325
30     eSewa_CentralM    User   2428
15         NP-ES-QBOX    User   2205
7           NP-ES-FDM    User   1677
32   eSewa_CityCinema    User   1261
19       NP-ES-SCREEN    User   1048
17      NP-ES-RANJANA    User   1028
5     NP-ES-CKCINEMAS    User    902
13        NP-ES-PIXEL    User    812
24         NP-ES-STSE    User    683
9         NP-ES-LOTSE    User    591
26          NP-ES-VFX    User    409
11    NP-ES-OASISCINE    User    353
3   NP-ES-BISHWOJYOTI    User    282
22     NP-ES-SIMARABC    User    198
1        NP-ES-BAMELC    User    194
34      esewa_dwarika    User     38
20    NP-ES-SHREERAMP    User      2

In [19]:
# Filter for 'Agent' profile and sort by count in descending order
agent_profile_analysis = product_profile_analysis[product_profile_analysis['Profile'] == 'Agent'].sort_values(by='Count', ascending=False)

print("\nAnalysis for Agent Profiles:")
display(agent_profile_analysis)

Analysis for Agent Profiles:

         Product Code Profile  Count
27          bigmovies   Agent    262
14         NP-ES-QBOX   Agent    225
29     eSewa_CentralM   Agent    214
31   eSewa_CityCinema   Agent    130
6           NP-ES-FDM   Agent     78
12        NP-ES-PIXEL   Agent     62
23         NP-ES-STSE   Agent     60
25          NP-ES-VFX   Agent     53
10    NP-ES-OASISCINE   Agent     53
4     NP-ES-CKCINEMAS   Agent     39
18       NP-ES-SCREEN   Agent     39
16      NP-ES-RANJANA   Agent     27
8         NP-ES-LOTSE   Agent     23
21     NP-ES-SIMARABC   Agent     18
0        NP-ES-BAMELC   Agent     14
2   NP-ES-BISHWOJYOTI   Agent     11
33      esewa_dwarika   Agent      2