In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [4]:
qfx = pd.read_csv(r'/Users/daviddangol/Documents/monthly report/Qfx/data/movies analysis sept to oct .csv')

In [5]:
display(qfx.head())
display(qfx.info())

,product_code,product_name,txn_date,txn_nep_month,txn_nep_date,account_id,amount,channel,theater,user_type,last_txn_before_bhadra,first_active_after_bhadra,active_difference,churn_or_not
0,NP-ES-ELEMENTS,Elements Movies (QFX),06/10/2025,Ashoj,20,29,440.0,WEB,Elements Movies (QFX),Old User,20/07/2025,06/10/2025,78.0,3 Months Churn
1,FCUBECINEMAS,FCube Cinemas,02/10/2025,Ashoj,16,47,2880.0,WEB,FCube Cinemas,Old User,12/08/2025,19/08/2025,7.0,Not Churn
2,QFX_civil,QFX Civil,20/09/2025,Ashoj,4,343,1406.0,WEB,QFX Civil,Old User,10/08/2025,24/08/2025,14.0,Not Churn
3,NP-ES-CDC,Cine De Chef,24/09/2025,Ashoj,8,354,1050.0,WEB,Cine De Chef,Old User,02/08/2025,21/08/2025,19.0,Not Churn
4,ES-1912120466,Regal Cinemas (Biratnagar),30/08/2025,Bhadra,14,415,400.0,WEB,Regal Cinemas (Biratnagar),Deleted User,29/07/2025,30/08/2025,32.0,1 Months Churn

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135573 entries, 0 to 135572
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   product_code               135573 non-null  object
 1   product_name               135573 non-null  object
 2   txn_date                   135573 non-null  object
 3   txn_nep_month              135573 non-null  object
 4   txn_nep_date               135573 non-null  int64
 5   account_id                 135573 non-null  int64
 6   amount                     135573 non-null  float64
 7   channel                    135573 non-null  object
 8   theater                    135573 non-null  object
 9   user_type                  135573 non-null  object
 10  last_txn_before_bhadra     134289 non-null  object
 11  first_active_after_bhadra  135573 non-null  object
 12  active_difference          134894 non-null  float64
 13  churn_or_not               134894 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 14.5+ MB

None

In [6]:
qfx.columns

Index(['product_code', 'product_name', 'txn_date', 'txn_nep_month',
       'txn_nep_date', 'account_id', 'amount', 'channel', 'theater',
       'user_type', 'last_txn_before_bhadra', 'first_active_after_bhadra',
       'active_difference', 'churn_or_not'],
      dtype='object')

In [7]:
qfx['txn_date'] = pd.to_datetime(qfx['txn_date'], format='%d/%m/%Y')
qfx['day_of_week'] = qfx['txn_date'].dt.day_name()

In [8]:
min_date = qfx['txn_date'].min()
max_date = qfx['txn_date'].max()

print(f"Minimum Transaction Date (QFX Clients): {min_date}")
print(f"Maximum Transaction Date (QFX Clients): {max_date}")

Minimum Transaction Date (QFX Clients): 2025-08-17 00:00:00
Maximum Transaction Date (QFX Clients): 2025-10-14 00:00:00

In [9]:
before_gprs = qfx[qfx['txn_date'] <= '2025-09-16']
after_gprs = qfx[qfx['txn_date'] > '2025-09-17']

print("Dataframe 'before_gprs' (transactions up to 2025-09-16):")
display(before_gprs.head())

print("\nDataframe 'after_gprs' (transactions after 2025-09-17):")
display(after_gprs.head())

Dataframe 'before_gprs' (transactions up to 2025-09-16):

,product_code,product_name,txn_date,txn_nep_month,txn_nep_date,account_id,amount,channel,theater,user_type,last_txn_before_bhadra,first_active_after_bhadra,active_difference,churn_or_not,day_of_week
4,ES-1912120466,Regal Cinemas (Biratnagar),2025-08-30,Bhadra,14,415,400.0,WEB,Regal Cinemas (Biratnagar),Deleted User,29/07/2025,30/08/2025,32.0,1 Months Churn,Saturday
6,QFX_labim,QFX Labim,2025-08-19,Bhadra,3,470,960.0,WEB,QFX Labim,Old User,12/08/2025,19/08/2025,7.0,Not Churn,Tuesday
7,NP-ES-CKCINEMAS,CK Cinemas Pvt. Ltd.,2025-08-26,Bhadra,10,600,900.0,WEB,CK Cinemas Pvt. Ltd.,Old User,24/07/2025,26/08/2025,33.0,1 Months Churn,Tuesday
16,NP-ES-RANJANA,Ranjana Cineplex,2025-08-21,Bhadra,5,1248,350.0,WEB,Ranjana Cineplex,Deleted User,16/08/2025,18/08/2025,2.0,Not Churn,Thursday
17,NP-ES-ELEMENTS,Elements Movies (QFX),2025-08-26,Bhadra,10,1288,1320.0,WEB,Elements Movies (QFX),Old User,16/07/2025,26/08/2025,41.0,1 Months Churn,Tuesday

Dataframe 'after_gprs' (transactions after 2025-09-17):

,product_code,product_name,txn_date,txn_nep_month,txn_nep_date,account_id,amount,channel,theater,user_type,last_txn_before_bhadra,first_active_after_bhadra,active_difference,churn_or_not,day_of_week
0,NP-ES-ELEMENTS,Elements Movies (QFX),2025-10-06,Ashoj,20,29,440.0,WEB,Elements Movies (QFX),Old User,20/07/2025,06/10/2025,78.0,3 Months Churn,Monday
1,FCUBECINEMAS,FCube Cinemas,2025-10-02,Ashoj,16,47,2880.0,WEB,FCube Cinemas,Old User,12/08/2025,19/08/2025,7.0,Not Churn,Thursday
2,QFX_civil,QFX Civil,2025-09-20,Ashoj,4,343,1406.0,WEB,QFX Civil,Old User,10/08/2025,24/08/2025,14.0,Not Churn,Saturday
3,NP-ES-CDC,Cine De Chef,2025-09-24,Ashoj,8,354,1050.0,WEB,Cine De Chef,Old User,02/08/2025,21/08/2025,19.0,Not Churn,Wednesday
5,NP-ES-QSCINEMA,Q's Cinema_QFX,2025-09-20,Ashoj,4,450,780.0,WEB,Q's Cinema_QFX,Old User,15/08/2025,17/08/2025,2.0,Not Churn,Saturday

In [10]:
before_gprs['channel'].value_counts()

channel
WEB               48100
Mobile Payment      689
Convergent          120
Name: count, dtype: int64

In [11]:
after_gprs['channel'].value_counts()

channel
WEB               73364
GPRS               9655
Mobile Payment      721
Convergent          139
Name: count, dtype: int64

In [12]:
theater_counts = after_gprs['theater'].value_counts()
theater_percentages = after_gprs['theater'].value_counts(normalize=True) * 100

theater_summary = pd.DataFrame({
    'Count': theater_counts,
    'Percentage': theater_percentages.round(2) 
})

print("Theater Transaction Summary (after 2025-09-23):")
display(theater_summary.head(10))

Theater Transaction Summary (after 2025-09-23):

                                          Count  Percentage
theater
QFX Civil                                  6699        7.99
Bigmovies                                  5709        6.81
FCube Cinemas                              5586        6.66
QFX Labim                                  5242        6.25
Regal Cinemas Pvt. Ltd. ( Bhaktapur)       5078        6.05
Cineroyale                                 4171        4.97
Chitwan Cineplex Pvt. Ltd.                 3091        3.69
MIDTOWN CINEMAS                            3064        3.65
One Cinema- Baneshwor ( Ticket Purchase)   2903        3.46
Elements Movies (QFX)                      2732        3.26

In [13]:
gprs_data = after_gprs[after_gprs['channel'] == 'GPRS']
display(gprs_data.head())

,product_code,product_name,txn_date,txn_nep_month,txn_nep_date,account_id,amount,channel,theater,user_type,last_txn_before_bhadra,first_active_after_bhadra,active_difference,churn_or_not,day_of_week
166,NP-ES-MOVIES-QFXPKR,QFX Cinemas,2025-10-14,Ashoj,28,9926,400.0,GPRS,QFX Cinemas,Old User,13/08/2025,04/10/2025,52.0,2 Months Churn,Tuesday
169,NP-ES-MOVIES-RB,Regal Cinemas ( Butwal),2025-10-11,Ashoj,25,10245,540.0,GPRS,Regal Cinemas ( Butwal),Old User,11/08/2025,16/09/2025,36.0,1 Months Churn,Saturday
278,NP-ES-MOVIES-RBHR,Regal Cinemas Pvt. Ltd.,2025-10-09,Ashoj,23,16195,1320.0,GPRS,Regal Cinemas Pvt. Ltd.,Old User,29/05/2025,25/09/2025,119.0,4 Months Churn,Thursday
297,NP-ES-MOVIES-CIVIL,QFX Civil,2025-10-03,Ashoj,17,17799,2640.0,GPRS,QFX Civil,Old User,14/08/2025,17/08/2025,3.0,Not Churn,Friday
305,NP-ES-MOVIES-RB,Regal Cinemas ( Butwal),2025-09-29,Ashoj,13,18086,1650.0,GPRS,Regal Cinemas ( Butwal),Deleted User,16/08/2025,20/08/2025,4.0,Not Churn,Monday

In [14]:
# Get unique account IDs from both dataframes
before_gprs_accounts = set(before_gprs['account_id'].unique())
gprs_data_accounts = set(gprs_data['account_id'].unique())

# Find common account IDs
common_accounts = list(before_gprs_accounts.intersection(gprs_data_accounts))

print(f"Number of common account IDs: {len(common_accounts)}")

# Calculate frequency of common accounts in both dataframes
before_gprs_common_frequency = before_gprs[before_gprs['account_id'].isin(common_accounts)]['account_id'].value_counts()
gprs_data_common_frequency = gprs_data[gprs_data['account_id'].isin(common_accounts)]['account_id'].value_counts()

print("\nFrequency of common account IDs in 'before_gprs':")
display(before_gprs_common_frequency.head())

print("\nFrequency of common account IDs in 'gprs_data':")
display(gprs_data_common_frequency.head())

Number of common account IDs: 711

Frequency of common account IDs in 'before_gprs':

account_id
11481394    5
3657091     5
4956160     5
5900653     4
11994934    4
Name: count, dtype: int64

Frequency of common account IDs in 'gprs_data':

account_id
2912287    6
3422615    4
8788534    4
9856656    4
738684     3
Name: count, dtype: int64

In [15]:
# Get the total number of unique account IDs in gprs_data
total_gprs_unique_accounts = gprs_data['account_id'].nunique()

print(f"Total unique account IDs in 'gprs_data': {total_gprs_unique_accounts}")

# Number of common account IDs was already calculated in a previous cell
# len(common_accounts)

# Calculate the percentage of common accounts relative to total unique GPRS accounts
percentage_common_in_gprs = (len(common_accounts) / total_gprs_unique_accounts) * 100

print(f"\nPercentage of common account IDs in 'gprs_data': {percentage_common_in_gprs:.2f}%")

# You can also calculate the percentage of common accounts relative to total unique accounts before GPRS
total_before_gprs_unique_accounts = before_gprs['account_id'].nunique()
percentage_common_in_before = (len(common_accounts) / total_before_gprs_unique_accounts) * 100

print(f"Percentage of common account IDs in 'before_gprs': {percentage_common_in_before:.2f}%")

Total unique account IDs in 'gprs_data': 8865

Percentage of common account IDs in 'gprs_data': 8.02%
Percentage of common account IDs in 'before_gprs': 1.76%

In [16]:
# Filter before_gprs for 'WEB' channel transactions before 2025-09-17
before_sept_web = before_gprs[(before_gprs['txn_date'] < '2025-09-17') & (before_gprs['channel'] == 'WEB')]

# Get unique account IDs for both filtered dataframes
unique_before_sept_web_accounts = set(before_sept_web['account_id'].unique())
unique_gprs_accounts = set(gprs_data['account_id'].unique())

# Count the unique IDs
count_before_sept_web = len(unique_before_sept_web_accounts)
count_gprs = len(unique_gprs_accounts)

print(f"Number of unique account IDs in 'before_gprs' (WEB channel before 2025-09-17): {count_before_sept_web}")
print(f"Number of unique account IDs in 'gprs_data': {count_gprs}")

# Find common accounts between these two sets
common_accounts_sept_gprs_web = list(unique_before_sept_web_accounts.intersection(unique_gprs_accounts))

print(f"\nNumber of common account IDs between 'before_gprs' (WEB before 2025-09-17) and 'gprs_data': {len(common_accounts_sept_gprs_web)}")


# Filter the original dataframe to include data for the common accounts
common_sept_gprs_web_data = qfx[qfx['account_id'].isin(common_accounts_sept_gprs_web)]

# Save the filtered data to a CSV file
common_sept_gprs_web_data.to_csv('common_sept_gprs_web_transactions.csv', index=False)

print("\nData for common account IDs (before Sept 17th WEB and GPRS) saved to 'common_sept_gprs_web_transactions.csv'")

Number of unique account IDs in 'before_gprs' (WEB channel before 2025-09-17): 39927
Number of unique account IDs in 'gprs_data': 8865

Number of common account IDs between 'before_gprs' (WEB before 2025-09-17) and 'gprs_data': 711

Data for common account IDs (before Sept 17th WEB and GPRS) saved to 'common_sept_gprs_web_transactions.csv'

In [17]:
# Filter before_gprs for 'WEB' channel transactions before 2025-09-17
before_sept_web = before_gprs[(before_gprs['txn_date'] < '2025-09-17') & (before_gprs['channel'] == 'WEB')]

# Get unique account IDs for both filtered dataframes
unique_before_sept_web_accounts = set(before_sept_web['account_id'].unique())
unique_gprs_accounts = set(gprs_data['account_id'].unique())

# Count the unique IDs
count_before_sept_web = len(unique_before_sept_web_accounts)
count_gprs = len(unique_gprs_accounts)

print(f"Number of unique account IDs in 'before_gprs' (WEB channel before 2025-09-17): {count_before_sept_web}")
print(f"Number of unique account IDs in 'gprs_data': {count_gprs}")

# Find common accounts between these two sets
common_accounts_sept_gprs_web = list(unique_before_sept_web_accounts.intersection(unique_gprs_accounts))

print(f"\nNumber of common account IDs between 'before_gprs' (WEB before 2025-09-17) and 'gprs_data': {len(common_accounts_sept_gprs_web)}")


# Filter the original dataframe to include data for the common accounts
common_sept_gprs_web_data = qfx[qfx['account_id'].isin(common_accounts_sept_gprs_web)]

# Save the filtered data to a CSV file
common_sept_gprs_web_data.to_csv('common_sept_gprs_web_transactions.csv', index=False)

print("\nData for common account IDs (before Sept 17th WEB and GPRS) saved to 'common_sept_gprs_web_transactions.csv'")

Number of unique account IDs in 'before_gprs' (WEB channel before 2025-09-17): 39927
Number of unique account IDs in 'gprs_data': 8865

Number of common account IDs between 'before_gprs' (WEB before 2025-09-17) and 'gprs_data': 711

Data for common account IDs (before Sept 17th WEB and GPRS) saved to 'common_sept_gprs_web_transactions.csv'

In [18]:
total_theaters = qfx['theater'].nunique()
print(f"Total unique theaters: {total_theaters}")

Total unique theaters: 59

In [19]:
theater_counts = after_gprs['theater'].value_counts()
theater_percentages = after_gprs['theater'].value_counts(normalize=True) * 100

theater_summary = pd.DataFrame({
    'Count': theater_counts,
    'Percentage': theater_percentages.round(2) 
})

print("Theater Transaction Summary (after 2025-09-23):")
display(theater_summary.head(10))

Theater Transaction Summary (after 2025-09-23):

                                          Count  Percentage
theater
QFX Civil                                  6699        7.99
Bigmovies                                  5709        6.81
FCube Cinemas                              5586        6.66
QFX Labim                                  5242        6.25
Regal Cinemas Pvt. Ltd. ( Bhaktapur)       5078        6.05
Cineroyale                                 4171        4.97
Chitwan Cineplex Pvt. Ltd.                 3091        3.69
MIDTOWN CINEMAS                            3064        3.65
One Cinema- Baneshwor ( Ticket Purchase)   2903        3.46
Elements Movies (QFX)                      2732        3.26

In [20]:
theater_counts_before_gprs = before_gprs['theater'].value_counts()
theater_percentages_before_gprs = (before_gprs['theater'].value_counts(normalize=True) * 100).round(2)

theater_summary_before_gprs = pd.DataFrame({
    'Count': theater_counts_before_gprs,
    'Percentage': theater_percentages_before_gprs
})

print("Theater Transaction Summary (before 2025-09-17):")
display(theater_summary_before_gprs.head(10))

Theater Transaction Summary (before 2025-09-17):

                                          Count  Percentage
theater
QFX Labim                                  3883        7.94
QFX Civil                                  3581        7.32
Regal Cinemas Pvt. Ltd. ( Bhaktapur)       3471        7.10
Bigmovies                                  3435        7.02
Cineroyale                                 3231        6.61
FCube Cinemas                              3018        6.17
Regal Cinemas Pvt. Ltd.. ( Butwal)         2226        4.55
Elements Movies (QFX)                      2183        4.46
MIDTOWN CINEMAS                            2143        4.38
One Cinema- Baneshwor ( Ticket Purchase)   1981        4.05